[Unit]
Description=Jenkins Agent CD
After=network.target

[Service]
Type=simple
User=jenkins
WorkingDirectory=/var/lib/jenkins/agent-cd
ExecStart=/var/lib/jenkins/agent-cd/start-agent-cd.sh
Restart=always

[Install]
WantedBy=multi-user.target
